POSTGRES_DSN=postgres://app:app@postgres:5432/images?sslmode=disable

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=images

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=images

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=images